body{
  margin: 0;
  padding: 0;
}
.navBar{
  text-decoration: none;
  background-color: blue;
  padding: 30px;
  margin-top: 0;
  
}
.navBar li{
  display: inline;
  margin: 20px;
}
.container{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addProductForm{
  
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}
.addProductForm input, .addProductForm button {
  display: block;
  padding: 5px;
  margin: 10px;
  width: 500px;
}