body{
  margin: 0;
  padding: 0;
}
.navBar{
  text-decoration: none;
  background-color: blue;
  padding: 30px;
  margin-top: 0;
  
}
.navBar li{
  display: inline;
  margin: 20px;
}
.container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addProductForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
}
.addProductForm input, .addProductForm button {
  display: block;
  padding: 5px;
  margin: 10px;
  width: 500px;
}
.card{
  width: 200px;
  text-align: center;
  border: 2px solid black;
  border-radius: 2px;
  padding: 5px;
  
  margin: 30px;
}
.cardContainer{
  display: flex;
  text-align: center;
  margin-top: 50px;
  
}
.cartContainer span {
  margin: 10px;
  width: 10px;
  padding: 50px;
  text-align: center;

}
.cartContainer{
  text-align: center;
  border: 2px solid black;
  margin: 50px;
  padding: 30px;
}
.chatContainer{
  display: flex;
  height: 90vh;
}
.users{
  flex: 1;
  border: 1px solid black;
}
.chatBoxContainer{
  border: 2px solid rgb(46, 43, 43);
  height:89vh;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 500px;
  margin-left: 30%;
  
  
 
  
 
}
.chatC{
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(23, 23, 233);
  max-width: 200px;
  overflow-wrap: break-word;
  color: rgb(219, 209, 209);
  
  
  
  
}
.chatC2{
  margin-left: 50%;
  background-color: rgb(214, 207, 207);
  color: black;
}
.chatInput{
  position:absolute;
  bottom: 0;
  display: flex;

}
.chatWraper{
  height: 75vh;
  margin-bottom: 10px;
  
  
}
.text{
  width: 400px;
  padding: 5px;
  height: 5vh;
}
.sendButton{
  width: 90px;
  color: white;
  background-color: rgb(65, 139, 65);
  border: 0;
  cursor: pointer;

}
.chatHeader{
  width: 500px;
  height: 50px;
  background-color: rgb(46, 43, 43);
  display: flex;
  align-items: center;
  
}
.chatHeader span{
  color: rgb(245, 238, 238);
  padding: 10px;

} 
.Main-chat-container{
  background-color: black;
  height:90vh;
}
.usersContainer{
  padding: 10px;
  text-decoration: none;
}
.chat-box-heading{
  display: flex;
  flex-direction: row;
}
.chat-heading-icon{
  cursor: pointer;
}
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  flex-direction: column;
  height: 40vh;
  width: 500px;
  padding: 10px;
  margin: 10px;
  background-color:  rgb(46, 43, 43);
  border-radius: 5px;
}
.login-container input{
  margin: 5px;
  padding: 10px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
}
.login-container button{
  margin: 5px;
  padding: 10px;
  width: 300px;
  border: 0;
  border-radius: 10px;
  background-color: rgb(194, 115, 194);
}
.login-main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: black;
}
.login-heading{
  margin-top: 5px;
  padding: 10px;
  }
.login-heading span{
    font-weight: bold;
    font-size: 30px;
}
.dont-have-account{
  margin-top: 5px;
  padding: 10px;
}
.login-sign-up{
  cursor: pointer;
  color: rgb(82, 82, 228);
}