body{
  margin: 0;
  padding: 0;
}
.navBar{
  text-decoration: none;
  background-color: blue;
  padding: 30px;
  margin-top: 0;
  
}
.navBar li{
  display: inline;
  margin: 20px;
}
.container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addProductForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
}
.addProductForm input, .addProductForm button {
  display: block;
  padding: 5px;
  margin: 10px;
  width: 500px;
}
.card{
  width: 200px;
  text-align: center;
  border: 2px solid black;
  border-radius: 2px;
  padding: 5px;
  
  margin: 30px;
}
.cardContainer{
  display: flex;
  text-align: center;
  margin-top: 50px;
  
}
.cartContainer span {
  margin: 10px;
  width: 10px;
  padding: 50px;
  text-align: center;

}
.cartContainer{
  text-align: center;
  border: 2px solid black;
  margin: 50px;
  padding: 30px;
}
